::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(218,224,236, 0.5);
  border-radius: 19px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.clipbord {
  width: 600px;
  height: 400px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border-radius: 8px;
  border: none;
  text-align: left;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.25s;

  .main {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
}

.clipbord:focus {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.clipbord:focus, .clipbord:active {
  border: none;
}


